<header class="header">
    <nav>
        <ul>
           
            {% for menu in menu_admin %}
                {% if menu.ds_url %}
                    <li><a href="/{{menu.ds_url}}">{{menu.nm_name}}</a></li>
                {% else %}
                    <li class="dropdown">
                        <a class="dropbtn">{{menu.nm_name}}</a>
                        <div class="dropdown-content">
                        {% for cheldren in menu %}
                            <div class="dropdown-content">
                                <a href="/{{cheldren.ds_url}}">{{cheldren.nm_name}}</a>
                            </div>
                        {% endfor %}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
            
            <div class="search" style="margin-top: 7px; margin-left: 7px;">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25313.png" style="width:25px; filter: invert(1)">
            </button>
            </div>
        </ul>
    </nav>
</header>