<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="./css/reset.css" rel="stylesheet">
        <link href="./css/index.css" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li class="dropdown">
                      <a class="dropbtn">Dropdown</a>
                      <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                      </div>
                    </li>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?">
                        <button type="submit" class="searchButton">
                        <img src="https://cdn-icons-png.flaticon.com/512/25/25313.png" style="width:25px; filter: invert(1)">
                    </button>
                    </div>
                </ul>
            </nav>
        </header>
        
        <main>
           <p>Hello world!</p>
        </main>
    </body>
</html>