<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="../public/css/reset.css" rel="stylesheet">
        <link href="../public/css/public.css" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <nav>
                <ul>
                    <li class="vertical-center"><a href="#">HOME</a></li>
                    <li class="vertical-center"><a href="#">PROJETOS</a></li>
                    <li class="vertical-center"><a href="#">CONTATO</a></li>
                    <div class="nav-hover">
                        <div class="card card-black card-border-purple center" style="width: 300px;  flex-direction: row;">
                            <img src="../public/img/atom.jpg" class="icon center">
                            <p class="center vertical-center">YOUTUBE</p>
                        </div>
                        <div class="card card-black card-border-purple center" style="width: 300px;  flex-direction: row;">
                            <img src="../public/img/atom.jpg" class="icon center">
                            <p class="center vertical-center">LINKEDIN</p>
                        </div>
                        <div class="card card-black card-border-purple center" style="width: 300px;  flex-direction: row;">
                            <img src="../public/img/atom.jpg" class="icon center">
                            <p class="center vertical-center">GITHUB</p>
                        </div>
                    </div> 
                  </ul>
            </nav>
        </header>
        <main style="text-align: center;">
            <div>
                <div class="card card-black card-border-purple center" style="width: 500px; margin-top: 100px;">
                    <img src="../public/img/atom.jpg">
                    <p>{{info}}</p>
                </div>
            </div>
            <button onclick="getLocation()" style="display: block; margin: 0 auto;">Sua localização</button>
            <div id="mapholder"></div>
            <script src="https://maps.google.com/maps/api/js?key="></script>
            <script src="../public/js/tools.js"></script>
        </main>
    </body>
</html>