html{
    background-color: #ffffff;
    margin: 0 auto;
}

header{
    height: 100px;
    width: 100%;
    border-bottom:solid 1px #ffffff ;
    background-color: #ffffff;
    border-bottom: 1px gray solid;
}

p{
    color: black;
    font-family: 'Courier New';
    font-weight: 900;
}

.search{
    
}